<div class="p-5 max-w-[1600px] mx-auto">
  <div class="flex flex-col gap-y-12 mt-6">
    <asset-create-page-form-group
      title="General Information"
      description="Fill out general information about the asset">
      <asset-create-page-form-input-field
        label="Name"></asset-create-page-form-input-field>
      <asset-create-page-form-input-field
        label="Version"></asset-create-page-form-input-field>
    </asset-create-page-form-group>
    <asset-create-page-form-group
      title="Advanced"
      description="Fill out advanced fields of the asset">
      <asset-create-page-form-input-field
        label="Publisher"></asset-create-page-form-input-field>
      <asset-create-page-form-input-field
        label="Unit"></asset-create-page-form-input-field>
      <asset-create-page-form-input-field
        label="Language"></asset-create-page-form-input-field>
    </asset-create-page-form-group>
  </div>
</div>
