{{ formGroup.value | json }}
<div>
  <app-expression-type-selector
    (expressionTypeChange)="
      handleExpressionTypeChange($event)
    "></app-expression-type-selector>
  <div *ngIf="formGroup.controls.expressionType.value === 'CONSTRAINT'">
    <!-- FormGroup: {{ formGroup.get('subexpressions')?.value | json }} -->
    <app-literal-constraint
      (literalConstraintChange)="
        handleLiteralConstraintChange($event)
      "></app-literal-constraint>
  </div>
  <div *ngIf="formGroup.controls.expressionType.value !== 'CONSTRAINT'">
    {{ formGroup.controls.expressionType.value }}
  </div>
</div>
