<h1 mat-dialog-title>Terminate Contract Agreement</h1>
<mat-dialog-content class="w-[800px] h-fit">
  <form [formGroup]="form.all">
    <div class="flex flex-col gap-2">
      <div class="form-section-title">Reason</div>

      <!-- Reason -->
      <mat-form-field class="grow">
        <mat-label>Reason</mat-label>
        <input
          matInput
          formControlName="shortReason"
          placeholder="Enter reason for termination"
          maxlength="100"
          required>
        <mat-error *ngIf="form.all.controls.shortReason.hasError('required')">
          Reason is required
        </mat-error>
        <mat-hint align="end">{{form.all.controls.shortReason.value.length}}/100 characters</mat-hint>
      </mat-form-field>

      <mat-form-field class="grow">
        <mat-label>Details</mat-label>
        <textarea
          matInput
          formControlName="detailedReason"
          placeholder="You can enter a detailed explanation here"
          maxlength="1000"></textarea>
        <mat-hint align="end">{{form.all.controls.detailedReason.value.length}}/1000 characters</mat-hint>
      </mat-form-field>
    </div>
  </form>

  <!-- Confirmation box -->
  <div class="flex flex-col mt-[10px]">
    <div class="form-section-title">Confirmation</div>
    <div>
      <p>
        By clicking the 'Terminate Contract' button, you will terminate the contract
        agreement. New data transfers via this agreement will no longer be possible and current transfer processes will
        be canceled.<br>
        This action is irreversible.
      </p>
    </div>
    <mat-checkbox [checked]="checkboxChecked" (change)="onCheckboxChange($event)">
      I have read the information and want to terminate the contract agreement.
    </mat-checkbox>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="flex flex-row justify-end">
  <button
    mat-stroked-button
    [mat-dialog-close]="null"
    [disabled]="loading">
    Cancel
  </button>

  <button
    mat-raised-button
    color="warn"
    [disabled]="!form.all.valid || loading || !checkboxChecked"
    (click)="onSave()">
    Terminate Contract
  </button>
</mat-dialog-actions>
