<div id="wrapper">
  <button mat-raised-button color="primary" (click)="loadTransferProcesses()">
    <mat-icon>cached</mat-icon>
    Refresh
  </button>
  <mat-paginator
    *ngIf="transferProcessesList.isReady"
    [hidePageSize]="true"
    [disabled]="true"
    [pageSize]="transferProcessesList.data.transferProcesses.length"
    [length]="
      transferProcessesList.data.transferProcesses.length
    "></mat-paginator>
  <div class="flex flex-row justify-center">
    <loading-state
      *ngIf="transferProcessesList.isLoading"
      class="min-h-[35rem]"></loading-state>
    <error-state
      *ngIf="transferProcessesList.isError"
      class="min-h-[35rem]"
      [error]="transferProcessesList.errorOrUndefined"></error-state>
    <empty-state
      *ngIf="
        transferProcessesList.isReady &&
        !transferProcessesList.data.transferProcesses.length
      "
      class="min-h-[35rem]"
      [emptyMessage]="'No transfer history found.'"></empty-state>
  </div>
  <div
    *ngIf="
      transferProcessesList.isReady &&
      !!transferProcessesList.data.transferProcesses.length
    ">
    <table
      class="transfer-history-table"
      mat-table
      [dataSource]="transferProcessesList.data.transferProcesses">
      <ng-container matColumnDef="direction">
        <th *matHeaderCellDef mat-header-cell scope="col">Direction</th>
        <td *matCellDef="let item" mat-cell>
          <mat-icon mat-table-avatar>
            {{ item.direction === 'outgoing' ? 'upload' : 'download' }}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="assetId">
        <th *matHeaderCellDef mat-header-cell scope="col">Asset</th>
        <td *matCellDef="let item" mat-cell>
          <div *ngIf="item.direction === 'outgoing'">
            <a
              class="link"
              href="javascript:void(0)"
              (click)="onAssetDetailsClick(item.assetId)">
              {{ item.assetName ?? item.assetId }}
            </a>
          </div>
          <div *ngIf="item.direction === 'incoming'">
            {{ item.assetName ?? item.assetId }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th *matHeaderCellDef mat-header-cell scope="col">State</th>
        <td *matCellDef="let item" mat-cell>{{ item.state }}</td>
      </ng-container>
      <ng-container matColumnDef="lastUpdated">
        <th *matHeaderCellDef mat-header-cell scope="col">Last updated</th>
        <td *matCellDef="let item" mat-cell>
          <ago [date]="item.lastUpdatedDate"></ago>
        </td>
      </ng-container>

      <ng-container matColumnDef="counterPartyConnectorEndpoint">
        <th *matHeaderCellDef mat-header-cell scope="col">
          Counter-party Connector Endpoint
        </th>
        <td *matCellDef="let item" mat-cell>
          {{ item.counterPartyConnectorEndpoint }}
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th *matHeaderCellDef mat-header-cell scope="col">Details</th>
        <td *matCellDef="let item" mat-cell>
          <a
            class="link"
            href="javascript:void(0)"
            (click)="onTransferHistoryDetailsClick(item)">
            {{ 'Show Details' }}
          </a>
        </td>
      </ng-container>
      <tr
        *matHeaderRowDef="columns"
        class="transfer-history-table-header"
        mat-header-row></tr>
      <tr *matRowDef="let row; columns: columns" mat-row></tr>
    </table>
  </div>
</div>
