<div id="edit-asset-form">
  <form class="flex flex-col gap-y-12 mt-4" [formGroup]="form.general">
    <edit-asset-form-group
      title="General Information"
      description="Fill out general information about the asset">
      <!-- Name -->
      <div>
        <edit-asset-form-label
          label="Name"
          htmlFor="create-asset-form-name"
          [ctrl]="form.general.controls.name"></edit-asset-form-label>
        <mat-form-field class="w-full mt-1">
          <input
            id="create-asset-form-name"
            matInput
            type="text"
            placeholder="My Asset"
            [formControl]="form.general.controls.name" />
        </mat-form-field>
      </div>

      <!-- Description -->
      <div>
        <edit-asset-form-label
          label="Description"
          htmlFor="create-asset-form-description"
          [ctrl]="form.general.controls.description"></edit-asset-form-label>
        <mat-form-field class="w-full">
          <textarea
            id="create-asset-form-description"
            class="h-36"
            matInput
            [formControl]="form.general.controls.description"
            [placeholder]="
              '# My Asset\n\nAt vero eos et accusam et justo duo dolores et ea rebum.\n\n## Details\n\nAt vero eos et accusam et justo duo dolores et ea **rebum**.'
            "></textarea>
          <mat-hint class="flex flex-row items-center gap-1 mb-1">
            The description uses
            <a
              class="link"
              externalLink
              href="https://www.markdownguide.org/basic-syntax/"
              >Markdown syntax</a
            >
          </mat-hint>
        </mat-form-field>
      </div>

      <!-- Keywords -->
      <keyword-select
        label="Keywords"
        [control]="form.general.controls.keywords"></keyword-select>

      <!-- Data Category -->
      <data-category-select
        class="grow"
        label="Data Category"
        [control]="form.general.controls.dataCategory"></data-category-select>

      <!-- Data Subcategory -->
      <data-subcategory-select
        class="grow"
        label="Data Subcategory"
        [dataCategory]="form.dataCategory"
        [control]="
          form.general.controls.dataSubcategory
        "></data-subcategory-select>
    </edit-asset-form-group>
    <button
      class="w-40 h-10 self-end"
      mat-raised-button
      color="primary"
      [disabled]="!form.all.valid || loading"
      (click)="onSubmit()">
      {{ form.mode === 'CREATE' ? 'Create' : 'Update' }}
    </button>
  </form>
</div>
